@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--dark-mode-elements: hsl(209, 23%, 22%);
	--dark-mode-background: hsl(207, 26%, 17%);
	--light-mode-elements: hsl(0, 0%, 100%);
	--light-mode-background: hsl(0, 0%, 98%);
}

body {
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
}

.max-width {
	@apply px-5 lg:max-w-7xl lg:mx-auto xl:max-w-screen-2xl 2xl:px-0;
}

.app {
	background-color: var(--light-mode-background);
}

.app.darkMode {
	background-color: var(--dark-mode-background);
	color: #fff;
}

.header.darkMode {
	background-color: var(--dark-mode-elements);
	color: #fff;
}

.search_input.darkMode {
	background-color: var(--dark-mode-elements);
	color: #fff;
}

.search_input.darkMode input {
	color: #fff;
}

.country.darkMode {
	background-color: var(--dark-mode-elements);
	color: #fff;
}

.country .values.darkMode {
	color: lightgray;
}

.back.darkMode {
	background-color: var(--dark-mode-elements);
	color: #fff;
}

.info .values.darkMode {
	color: lightgray;
}

.border_country.darkMode {
	background-color: var(--dark-mode-elements);
	color: #fff;
}
